SSL_CERT_FILE=${SSL_CERT_FILE}
SSL_KEY_FILE=${SSL_KEY_FILE}
STORAGE_NAS_LOCATION="${STORAGE_NAS_LOCATION}"
RETICULUM_STORAGE_DIR="${RETICULUM_STORAGE_DIR}"
DB_HOST="${DB_HOST}"
DB_USER="${DB_USER}"
DB_PASSWORD="${DB_PASSWORD}"
DIALOG_HOSTNAME="${DIALOG_HOST}"
DIALOG_PORT="${DIALOG_PORT}"
PERMS_PRV_FILE="${PERMS_PRV_FILE}"
HUBS_ADMIN_INTERNAL_HOSTNAME="${HUBS_HOST}"
HUBS_CLIENT_INTERNAL_HOSTNAME="${HUBS_HOST}"
SPOKE_INTERNAL_HOSTNAME="${HUBS_HOST}"
POSTGREST_INTERNAL_HOSTNAME="${POSTGREST_HOST}"
EVENT_ENTER_URL="${EVENT_ENTER_URL}"
EVENT_EXIT_URL="${EVENT_EXIT_URL}"
EVENT_URL="${EVENT_URL}"
